<li id="notification-<%= notification.id %>">
  <div>
    <%= notification.content %>
    <br>
    <% unless (notification.micropost_id.nil? ||
               (notification_micropost = Micropost.find(notification.micropost_id)).picture.blank?)%>
        <%= link_to( (image_tag notification_micropost.picture.url, size: 300), micropost_path(notification.micropost_id) ) %>
    <% end %>
  </div>
</li>