<% provide(:title, "ログイン") %>
<div class="center jumbotron">
  <h1>Instagram</h1>
  <input type="email" placeholder="メールアドレス">
  <input type="password" placeholder="パスワード">
  <button type="button" name="name" value="value">ログイン</button>
  または
  <a href="#">Facebookでログイン</a>
  アカウントをお持ちでないですか？
  <%= link_to "登録する", signup_path %>
</div>