<% provide(:title, "ユーザー登録") %>
<div class="center jumbotron">
  <h1>Instagram</h1>
  <p>友達の写真や動画をチェックしよう</p>
  <a href="#">Facebookでログイン</a>
  または
  <input type="email" placeholder="メールアドレス">
  <input type="text" placeholder="フルネーム">
  <input type="text" placeholder="ユーザーネーム">
  <input type="password" placeholder="パスワード">
  <button type="button" name="name" value="value">登録する</button>
  <br>
  登録することで、Facebookの<%= link_to "利用規約", use_of_terms_path %>、データに関するポリシー、Cookieポリシーに同意するものとします。
</div>
