<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Instagram", root_url, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <% if $NOTIFICATION_FLAG == 1 %>
        <li class="new_notification"><%= link_to "通知一覧", notifications_path %></li>
      <% else %>
        <li><%= link_to "通知一覧", notifications_path %></li>
      <% end %>
        <li><%= link_to "マイページ", current_user %></li>
      </ul>
    </nav>
  </div>
</header>